// Text Transform
@mixin uppercase {
    text-transform: uppercase;
}
@mixin lowercase {
    text-transform: lowercase;
}
@mixin capitalize {
    text-transform: capitalize;
}
@mixin normal-case {
    text-transform: none;
}

// Text Decoration
@mixin underline {
    text-decoration: underline;
}
@mixin line-through {
    text-decoration: line-through;
}
@mixin overline {
    text-decoration: overline;
}
@mixin no-decoration {
    text-decoration: none;
}

// Text Util
@mixin jutify {
    text-align: justify;
}
@mixin no-wrap {
    white-space: nowrap;
}
@mixin subscript {
    vertical-align: sub;
}
@mixin superscript {
    vertical-align: super;
}
@mixin text-top {
    vertical-align: text-top;
}
@mixin text-bottom {
    vertical-align: text-bottom;
}

// Font Smoothing.
@mixin font-smoothing {
    speak: none;
    font-variant: normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}