// VARIABLE COLLECTIONS.
// ----------------------------------------------

// Enable or disable responsive.
$responsive-transform   : false;

// Default Input Placeholder Color.
$def-pld-clr            : #555;

// Default border shortand size and color.
$def-brd                : 1px;
$def-bcl                : #cccccc;

// Default Display Property.
$def-display-val        : block;

// Default position value.
$def-pos-val            : none none none none;

// Long shadow config.
$def-shadow-depth       : 1;        // from 0.5 to 5.

// Default effect timing.
$def-etime              : .3s;      // Normal.
$def-etime-f            : .2s;      // Fast.
$def-etime-s            : .6s;      // Slow.

// Default Grid Option.
$def-grid-option        : 960 12 10;

// Default font-styles.
$def-font-style         : Hairline HairlineItalic Thin ThinItalic Light LightItalic Regular Italic Medium MediumItalic Semibold SemiboldItalic Bold BoldItalic 'Black' BlackItalic Heavy HeavyItalic;
